@import "tailwindcss";

@layer components {
  .btn {
    @apply relative inline-flex items-center justify-center px-4 py-2 rounded-lg 
              font-medium transition overflow-hidden shadow-md text-white;
  }

  .btn-primary {
    @apply bg-gradient-to-br from-[#be8a05] to-[#755000]
             hover:from-[#755000] hover:to-[#be8a05] text-white;
  }

  .btn-secondary {
    @apply bg-gradient-to-br from-[#a5a4a3] to-[#5a5a5a]
             hover:from-[#5a5a5a] hover:to-[#a5a4a3] text-white;
  }

}

@theme {
  --drop-shadow-lg: 5px 5px 5px rgba(0, 0, 0, 0.9);
}
